.cross{
    color: red;
    size: 70px;
    width: 30px;
  

}
.crosstext{
  max-width: 80%;
  color: red;
  background-color: aqua;
  padding-top: 9px;
  margin-right: 2px;
  font-size: 30px;
  color: black;
  background-color: white;
  border: 1px solid #0d0d8b;
  border-radius: 11px;
  display: flex;
  margin-top: 0.3rem;
 
}
.text{
  color: blue;
  font-size: 30px;
}
