.modal-root{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
}
.modal-body{
    background-color: white;
    width: 50%;
    height: 50%;
    border-radius: 25px;
    opacity: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.modal-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal-close-button{
    cursor: pointer;
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.modal-content-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}
.modal-content-images > a >img{
    width: 100px;
    height: 100px;
}